body {
    background-image: url('../images/background.jpg') no-repeat;
    background-size: cover;
    color: white;
}

.container {
    min-height: 100vh;
    height: 100%;
}

.section-login {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5em;
    border-radius: 9px;
}

.section-title-header {
    text-transform: uppercase;
}

.title-header {
    font-size: 20px;
    font-weight: bold;
}

.title-caption {
    font-size: 18px;
    font-weight: lighter;
}